header{
    padding: 60px;
    text-align: center;
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header h1{
    font-size: 40px;
    margin: 0 0 20px;
}

header p{
    margin: 0 0 10px;
}
header div{
    background-color: rgba(74, 58, 64, 0.65);
    padding: 10px;
    border-radius: 10px;
    color: var(--color-gray-light);
    font-size: 20px;
}